= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :customer_id
    %br/
    = f.select :customer_id, Customer.all.collect { |c| [c.name, c.id] }
  .field
    = f.label :deadline
    %br/
    = f.date_select :deadline
  .field
    = f.check_box :completed
    = f.label :completed
  .field
    = f.check_box :paid
    = f.label :paid
  .field
    = f.label :page_count
    %br/
    = f.text_field :page_count
  .field
    = f.label :price_per_page
    %br/
    = f.text_field :price_per_page
  .field
    = f.label :input_file
    %br/
    = f.file_field :input_file
  .field
    = f.label :output_file
    %br/
    = f.text_field :output_file
  .actions
    = f.submit
