<h1>Listing jobs</h1>

<% if @jobs %>
<table>
  <tr>
    <th>Job</th>
    <th>Customer</th>
    <th>Page count</th>
    <th>Price per page</th>
    <th>Deadline</th>
    <th>Completed</th>
    <th>Paid</th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.input_file, job %></td>
    <td><%= link_to job.customer_name, customer_path(job.customer) %></td>
    <td><%= job.page_count %></td>
    <td><%= job.price_per_page %></td>
    <td><%= job.deadline %></td>
    <td><%= job.completed %></td>
    <td><%= job.paid %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />
