<div id="notice"><%= notice %></div>

<div>
  <b>Customer:</b>
  <%= @job.customer_name %>
</div>

<div>
  <b>Deadline:</b>
  <%= @job.deadline %>
</div>

<div>
  <b>Page count:</b>
  <%= @job.page_count %>
</div>

<div>
  <b>Price per page:</b>
  <%= @job.price_per_page %>
</div>

<div>
  <b>Total price:</b>
  <%= @job.total_price %>
</div>

<div>
  <b>Completed:</b>
  <%= @job.completed %>
</div>

<div>
  <b>Paid:</b>
  <%= @job.paid %>
</div>

<div>
  <b>Input file:</b>
  <%= @job.input_file %>
</div>

<div>
  <b>Output file:</b>
  <%= @job.output_file %>
</div>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', customer_path(current_customer) %>
