<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Deadline</th>
    <th>Completed</th>
    <th>Page count</th>
    <th>Price per page</th>
    <th>Paid</th>
    <th>Input file</th>
    <th>Output file</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer.jobs.each do |job| %>
  <tr>
    <td><%= job.deadline %></td>
    <td><%= job.completed %></td>
    <td><%= job.page_count %></td>
    <td><%= job.price_per_page %></td>
    <td><%= job.paid %></td>
    <td><%= job.input_file %></td>
    <td><%= job.output_file %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
