<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Password:</b>
  <%= @customer.password %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
