<% title "Login" %>
<h1> Login </h1>
<% form_for(@customer_session) do |f| %>
  <% f.error_messages %>
  <div>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div>
    <%= f.label :password %><br / >
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
